<a href="https://colab.research.google.com/github/aarmentamna/PY0101EN/blob/main/M2ListTuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Declaracion de un Tupla.

In [3]:
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

Obtener el tipo de Dato de la Tupla

In [ ]:
type(tuple1)

Recorrer la Tupla por posiciones

In [6]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

Concatenar 2 tuplas

In [7]:
tuple2 = tuple1 + ("Values", 1.2,1,True)
tuple2

('disco', 10, 1.2, 'Values', 1.2, 1, True)

Slicing

In [11]:
tuple2[0:7]

('disco', 10, 1.2, 'Values', 1.2, 1, True)

length

In [12]:
len(tuple2)

7

Sorting

In [13]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

Nested Tuple

In [15]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))
Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

Lista

In [18]:
A={1,2,3,4,5}
B={1,3,9, 12}
print(A)
print(B)

{1, 2, 3, 4, 5}
{1, 3, 12, 9}

Interseccion

In [19]:
A.intersection(B)

{1, 3}

Listas de objetos

In [20]:
D={'a':0,'b':1,'c':2}
D["b"]

1

Key Values

In [21]:
D.keys()

dict_keys(['a', 'b', 'c'])

In [22]:
D.values()

dict_values([0, 1, 2])

In [23]:
D.items()

dict_items([('a', 0), ('b', 1), ('c', 2)])