<a href="https://colab.research.google.com/github/aarmentamna/PY0101EN/blob/main/M4LoadingDataPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loading Data With Pandas

In [1]:
import pandas as pd

In [13]:
songs = {'Albun': ['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell'], 'Released':[1982,1980,1973,1977,1982],'Length':['00:42:19', '00:42:11','00:42:49', '00:57:44','00:46:33']}
song_frame = pd.DataFrame(songs)
song_frame.head()

array([1982, 1980, 1973, 1977])

In [14]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [16]:
songs = {'Albun': ['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell'], 'Released':[1982,1980,1973,1977,1982],'Length':['00:42:19', '00:42:11','00:42:49', '00:57:44','00:46:33']}
song_frame = pd.DataFrame(songs)
song_frame['Released'].unique()

array([1982, 1980, 1973, 1977])

In [17]:
songs = {'Albun': ['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell'], 'Released':[1982,1980,1973,1977,1982],'Length':['00:42:19', '00:42:11','00:42:49', '00:57:44','00:46:33']}
song_frame = pd.DataFrame(songs)
df1=song_frame[song_frame['Released']>=1982]
df1

             Albun  Released    Length
0         Thriller      1982  00:42:19
4  Bat Out of Hell      1982  00:46:33

In [20]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

print(df['b']==1)

0    True
1    True
2    True
Name: b, dtype: bool

In [21]:
df.to_csv("file.csv")